// Colors
$white: #ffffff;
$black: #000000;
$body-bg-color: #56aaca;

$primary-color: #56aaca;
$accent-color: #4484CE;
$secondary-color: #FACE1F;

// Font
$font-size-base: 18px !default;
$font-sans-serif: 'Lato', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times', serif;
