//before
html {
  opacity: 1;
  transition: opacity 850ms ease-in-out;
  background-color: $white;
  &.before {
    opacity: 0;
  }
}


.body {
    overflow: hidden;
    min-height: 100vh;
    &:before, &:after {
      content:'';
      display: block;
      background-color: $white;
      height: 8px;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 2;
      @include mq($from: tablet) {
        height: 12px;
      }
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }

    &--contact {
        .main-section {
            @include translate(0, -100%);
        }

        .contact {
            @include translate(0, 0);
        }
    }

    &--work {
        .main-section {
            @include translate(-100%, 0);
        }

        .work {
            @include translate(0, 0);
        }
    }

    &--skills {
        .main-section {
            @include translate(100%,0);
        }

        .skills {
            @include translate(0, 0);
        }
    }

    &--about {
        .main-section {
            @include translate(0,100%);
        }

        .about {
            @include translate(0, 0);
        }
    }
}



main {
  min-height: 100vh;
  width: 100%;
  &:before, &:after {
    position: fixed;
    content:'';
    min-height: 100vh;
    width: 8px;
    top: 0;
    bottom: 0;
    background-color: $white;
    z-index: 2;
    @include mq($from: tablet) {
      width: 12px;
    };
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

section {
    transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    &.visited {
      .section-content {
          opacity: 1;
          @include translate(0,0);
          visibility: visible;
          z-index: 1;
      }
    }
}

@keyframes animBG {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 200% 300%;
    }
}

.main-section {
  background-image: url('../img/irving-armenta-cubes-pattern2.png');
    background-color: $white;
    @include translate(0,0);
    text-align: center;
    //transition: all 200ms ease-in-out;
    animation: animBG 200s linear infinite;
    background-size: 48px;
    @include mq($from: tablet) {
      background-size: auto;
    }
    &:before {
      background-color: lighten($accent-color, 18%);
      width: 100%;
      position: absolute;
      content: '';
      transform: skew(-20deg);
      right: -50%;
      top: 0;
      bottom: 0;
      z-index: 2;
      @include transition(background-color, 200ms, ease-in-out);
      @include mq($from: tablet) {
        background-color: $accent-color;
      };
    }
    &__content {
      width: 100%;
      height: 100vh;
      position: relative;
      z-index: 2;
    }
}

.nav-button-inner {
    background-color: transparent;
    will-change: transform;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate3d(-50%, -50%, 20px);
    -webkit-transform: translate3d(-50%, -50%, 20px);
    transform: translate3d(-50%, -50%, 20px);
    border: 0;
    width: 60%;
    height: 60%;
    padding: 0;

    img {
        width: 100%;
        backface-visibility: hidden;
        -ms-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    &:hover {
      -ms-transform: translate3d(-50%, -50%, 20px);
      -webkit-transform: translate3d(-50%, -50%, 20px);
      transform: translate3d(-50%, -50%, 20px);
    }

    &:active,
    &:focus {
        outline: 0;
    }
}

.nav-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
    background-color: saturate($accent-color, 14%);
    width: 48px;
    height: 48px;
    transform-style: preserve-3d;
    position: absolute;
    margin: auto;
    border: 2px solid rgba($white, 0.2);
    //border-radius: 50%;
    z-index: 10;
    box-shadow: 0 9px 24px rgba($black, 0.1);
    transition: border-color 200ms ease-in-out;

    @include mq($from: desktop) {
      width: 64px;
      height: 64px;
    }

    &.bottom-button,
    &.top-button {
        left: 0;
        right: 0;
    }

    &.top-button {
      top: 2px + 16px;
      @include mq($from: tablet) {
        top: 12px + 16px;
      }
    }

    &.bottom-button {
      bottom: 2px + 16px;
      @include mq($from: tablet) {
        bottom: 12px + 16px;
      }
    }

    &.left-button,
    &.right-button {
        top: 0;
        bottom: 0;
    }

    &.right-button {
        right: 2px + 16px;
        @include mq($from: tablet) {
          right: 12px + 16px;
        };
    }

    &.left-button {
      left: 2px + 16px;
      @include mq($from: tablet) {
        left: 12px + 16px;
      };
    }
    &:hover {
      border-top-color: $white;
      border-left-color: $white;
      border-bottom-color: darken($white, 15%);
      border-right-color: darken($white, 15%);
    }
    &:focus {
      outline: 0;
    }
    &:active {
      outline: 0;
      box-shadow: 0 0 40px $white;
    }
}

.section-content {
    overflow: auto;
    height: 100vh;
    padding: (16px + 8px);
    position: relative;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    @include translate(0,-4%);
    -webkit-transition: opacity 1100ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 1100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: opacity 1100ms cubic-bezier(0.190, 1.000, 0.220, 1.000), transform 1100ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    @include mq($from: tablet) {
      padding: (16px + 12px);
    }
    h2 {
      font-size: 32px;
      color: lighten($black, 30%);
      margin-bottom: 20px;
      @include mq($from: tablet) {
        font-size: 48px;
      };
    }
    > div {
      max-width: 1110px;
      margin: 0 auto;
      @include mq($from: 900px, $and: '(min-height: 660px)')  {
        position: absolute;
        left: 16px + 12;
        right: 16px + 12;
        top: 50%;
        @include translate(0, -50%);
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
}

.back-button {
  right: 24px;
  top: 24px;
  width: 42px;
  height: 42px;
}

.logo-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45%;
    @include translate(-50%, -50%);
    font-size: 0;
    @include mq($from: 500px) {
      width: 38%;
    }
    @include mq($from: 768px) {
      width: 58%
    }
}

#irvingLogo {
  fill: lighten($black, 30%);
  max-width: 100%;
}

.irving-logo {
  @include mq($from: tablet) {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
  };
  h2 {
    font-size: 4vw;
    color: lighten($black, 42%);
    margin-top: 16px;
    margin-bottom: 0;
    font-family: $font-sans-serif;
    @include mq($from: tablet) {
      font-size: 32px; // fallback
      font-size: 2.5vw;
    };
    @include mq($from: desktop) {
      font-size: 2.1vw;
    };
  }
}

.hero-img {
  display: none;
  @include mq($from: tablet) {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
  };
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    bottom: 1px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cubes-bg {
  background-color: $white;
  &:after {
    background-image: url('../img/irving-armenta-cubes-pattern.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.2;
    content:'';
    background-size: 48px;
    @include mq($from: tablet) {
      background-size: auto;
    }
  }
}

.blue-bg {
  background-color: $accent-color;
}

.alt-theme {
  #irvingLogo {
    fill: $white;
  }
  .irving-logo {
    h2 {
      color: $white;
    }
  }
  .main-section {
    background-color: $body-bg-color-v;
    &:before {
      background-color: desaturate($accent-color-v, 4%);
    }
  }
}
