
.body {
    overflow: hidden;
    background: #6C7A8E;
    min-height: 100vh;
    &:before, &:after {
      content:'';
      display: block;
      background-color: $white;
      height: 12px;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 2;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }

    &--contact {
        .main-section {
            @include translate(0, -100%);
        }

        .contact {
            @include translate(0, 0);
        }
    }

    &--work {
        .main-section {
            transform: translateX(-100%);
        }

        .work {
            @include translate(0, 0);
        }
    }

    &--skills {
        .main-section {
            transform: translateX(100%);
        }

        .skills {
            @include translate(0, 0);
        }
    }

    &--about {
        .main-section {
            transform: translateY(100%);
        }

        .about {
            @include translate(0, 0);
        }
    }
}

main {
  min-height: 100vh;
  width: 100%;
  &:before, &:after {
    position: fixed;
    content:'';
    min-height: 100vh;
    width: 12px;
    top: 0;
    bottom: 0;
    background-color: $white;
    z-index: 2;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

section {
    transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.main-section {
    background: #6C7A8E;
    background: linear-gradient(to bottom, #7edbd4 0%, #7edbd4 99%, $white 100%);
    transform: translate(0);
    text-align: center;
}

.nav-button-inner {
    background-color: transparent;
    will-change: transform;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate3d(-50%, -50%, 20px) scale(1);
    -webkit-transform: translate3d(-50%, -50%, 20px) scale(1);
    transform: translate3d(-50%, -50%, 20px) scale(1);
    @include transition();
    border: 0;
    width: 54%;
    height: 54%;
    padding: 0;

    img {
        width: 100%;
        backface-visibility: hidden;
        -ms-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    &:hover {
      -ms-transform: translate3d(-50%, -50%, 20px) scale(1.15);
      -webkit-transform: translate3d(-50%, -50%, 20px) scale(1.15);
      transform: translate3d(-50%, -50%, 20px) scale(1.15);
    }

    &:active,
    &:focus {
        outline: 0;
    }
}

.nav-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    background-color: $accent-color;
    width: 48px;
    height: 48px;
    position: relative;
    transform-style: preserve-3d;
    position: absolute;
    margin: auto;
    border: 2px solid transparent;
    @include transition(border-color);

    @include mq($from: tablet) {
      width: 64px;
      height: 64px;
    }

    @include mq($from: desktop) {
      width: 72px;
      height: 72px;
    }

    &.bottom-button,
    &.top-button {
        left: 0;
        right: 0;
    }

    &.top-button {
        top: 12px + 16px;
    }

    &.bottom-button {
        bottom: 12px + 16px;
    }

    &.left-button,
    &.right-button {
        top: 0;
        bottom: 0;
    }

    &.right-button {
        right: 12px + 16px;
    }

    &.left-button {
        left: 12px + 16px;
    }
    &:hover {
      border-top-color: $white;
      border-left-color: $white;
      border-bottom-color: darken($white, 15%);
      border-right-color: darken($white, 15%);
    }
    &:focus {
      outline: 0;
    }
    &:active {
      outline: 0;
      box-shadow: 0 0 40px $white;
    }
}

.section-content {
    overflow: auto;
    height: 100vh;
    padding: (16px + 12px) (16px + 12px) 12px;
    position: relative;
}

.back-button {
  right: 28px;
  top: 28px;
  width: 42px;
  height: 42px;
}



/*
@keyframes rubberBand {
  from {
    border: 0 solid transparent;
  }

  50% {
    border: 10px solid $accent-color;
  }

  to {
    border: 0 solid transparent;
  }
}

.animated {
  &:before, &:after {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.rubberBand {
  &:before, &:after {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
}
*/
